*{
    margin:0px;
    padding:0px;
}
body{
    font-family: 'Gabarito', sans-serif;
}

.navbar{
    background-color: rgb(245, 245, 245);
    padding:10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #000 1px;
    gap:10px;
    position:sticky;
    top: 0;

}

.navbar__s1__title{
    color: #A435F0;
}

.navbar__s2{
    padding: 10px;

    border: solid #000 1px;
    border-radius: 30px;
    width: 60%;
    display:flex;
    align-items: center;
    gap:10px;
}

.navbar__s2 input{
    border: none;
    font-size: 16px;
    width: 100%;
}

.navbar__s2 input:focus{
    outline: none;
}

.navbar__s3{
    display:flex;
    align-items: center;
    gap:10px;
}

.categories{
    display: flex;
    padding:10px;
    justify-content: space-between;
 
    border-bottom: solid #000 1px;
    background-color: rgb(255, 255, 255);
}

.categories p{
    background-color: #A435F0;
    color:aliceblue;
    padding: 10px;
    border-radius: 30px;
    flex-grow: 1;
    flex-basis: 25%;
    margin: 10px;
}


.sale-image img{
    width: 100%;
}

.recommanded{
    padding: 5px;
}

.recommanded__container{
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.course-card{
    width:250px;
}

.course-card img{
    height: 50%;
    width:100%;
}

.topics{
    padding:10px;
}

.topics__container{
    display: flex;
    padding: 10px;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topics__container p{
    border: solid #A435F0 1px;
    padding:10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular{
    padding: 10px;
}

.popular__container{
    display:flex ;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.footer{

    padding: 30px;
    background-color: #000;
    color: rgb(255, 255, 255);
}

.footer__one{
    display: flex;
    gap: 20px;
}
.footer__one p{
    margin: 10px;
}

.footer__two{
    margin: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}